*{
    padding: 0;
    margin: 0%;
}

body{
    background-color: #2b2d42;
    color: #8d99ae;
    margin: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

h3{
    margin: 10px;
}

#text-input{
    display: block;
    margin-bottom: 15px;
}

#meme-insert{
    margin-bottom: 15px;
}

#meme-image-container{
    border: black solid 1px;
    background-color: white;
    height: 300px;
    width: 500px;
    margin: 15px
}

#meme-text{
    font-size: 30px;
    color: white;
    position: absolute;
    /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/text-shadow */
    text-shadow: 5px 5px 5px black;
}

#meme-image{
    width: 100%;
    height: 100%;
}

#fire{
    background-color: red;
    width: 165px;
    height: 25px;
    color: white;
}

#water{
    background-color: blue;
    width: 165px;
    height: 25px;
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}

#earth{
    background-color: green;
    width: 165px;
    height: 25px;
    color: white;
}

.meme{
    margin-right: 10px;
}