*{
    padding: 0;
    margin: 0%;
}

body{
    background-color: aliceblue;
    margin: 20px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#text-input{
    display: block;
    margin-bottom: 15px;
}

#photo{
    margin-bottom: 15px;
}

#meme-image-container{
    border: black solid 1px;
    background-color: white;
    /* background-size: cover; */
    height: 300px;
    width: 200px;
}

#meme-text{
    font-size: 50px;
    color: red;
    position: absolute;
}

#meme-image{
    /* max-height: 500px; */
    width: 100%;
    height: 100%;
}